/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-19-2015, 09:53:02 PM
    Author     : Mario
*/

body {
    background-color: #ECF3FD;
}
.conteiner{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 85%;
}
.ui-state-default .icon-login{
    background-image: url(../images/icons/login.png);
}