<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gasisw_bd1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">mmejia</property>
    <property name="hibernate.connection.password">Oracle2018.</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="model/Factura.hbm.xml"/>
    <mapping resource="model/Cliente.hbm.xml"/>
    <mapping resource="model/CatProducto.hbm.xml"/>
    <mapping resource="model/Categoria.hbm.xml"/>
    <mapping resource="model/Pago.hbm.xml"/>
    <mapping resource="model/Rol.hbm.xml"/>
    <mapping resource="model/Producto.hbm.xml"/>
    <mapping resource="model/ProductoProveedor.hbm.xml"/>
    <mapping resource="model/Seccion.hbm.xml"/>
    <mapping resource="model/Municipio.hbm.xml"/>
    <mapping resource="model/Presentacion.hbm.xml"/>
    <mapping resource="model/DetFactura.hbm.xml"/>
    <mapping resource="model/Bomba.hbm.xml"/>
    <mapping resource="model/Menu.hbm.xml"/>
    <mapping resource="model/Departamento.hbm.xml"/>
    <mapping resource="model/OrdenCompra.hbm.xml"/>
    <mapping resource="model/Empleado.hbm.xml"/>
    <mapping resource="model/Area.hbm.xml"/>
    <mapping resource="model/Combustible.hbm.xml"/>
    <mapping resource="model/Pais.hbm.xml"/>
    <mapping resource="model/Compra.hbm.xml"/>
    <mapping resource="model/TipoFactura.hbm.xml"/>
    <mapping resource="model/Bodega.hbm.xml"/>
    <mapping resource="model/TipoPago.hbm.xml"/>
    <mapping resource="model/Usuario.hbm.xml"/>
    <mapping resource="model/OrdenVenta.hbm.xml"/>
    <mapping resource="model/Marca.hbm.xml"/>
    <mapping resource="model/DetaOrdenCompra.hbm.xml"/>
    <mapping resource="model/AjusteInventario.hbm.xml"/>
    <mapping resource="model/RolMenu.hbm.xml"/>
    <mapping resource="model/Proveedor.hbm.xml"/>
    <mapping resource="model/CierreCaja.hbm.xml"/>
    <mapping resource="model/DetaOrdenVenta.hbm.xml"/>
    <mapping resource="model/DetaCombustible.hbm.xml"/>
    <mapping resource="model/DetaAjusteInventario.hbm.xml"/>
    <mapping resource="model/Submenu.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
